@import url('http://fonts.googleapis.com/css?family=Anton|Roboto:100,300,400,500');

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,.65);
    box-shadow: 0 0 4px rgba(0,0,0,.20),0 4px 8px rgba(0,0,0,.40);
    z-index: 2;
}

nav ul {
    width: 1035px;
    list-style:none;
    font-size: large;
    font-weight: 100;
    position: relative;
    margin: 0 auto;
}

nav ul li a {
    display:inline-block;
    padding:17.5px 2.143%;
    margin: 0 26px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    opacity: .6; 
    transition: opacity 300ms;
}

nav ul li {
    display:inline;
}

nav ul li img {
    width: 23px;
    margin:-9px 0 -5px 0;
}

h1,h2,p,ul {
    font-style: normal;
    font-weight: 300;
}

header {
    width: 66.5%;
    height: inherit;
    display: block;
    margin: 0 auto;
    text-indent: 8px;
    padding: 100px 0 20px 0;
    list-style-position: inside;
    z-index: 2;
}

header h1 {
    font-size: 3.5em;
    margin-left: -4px;
}

header h2 {
    font-size: 1.5em;
}

main {
    width: 66.5%;
    height: inherit;
    min-height: 250px;
    display: block;
    margin: 0 auto;
    padding-bottom: 100px;
    list-style-position: inside;
}

main:after {
  content: "";
  display: block;
  clear: both;
}

main ul {
    text-indent: 30px;
}

footer {
    background-color: #fff;
    width: 100%;
    height: 60px;
    border-top: 1px solid #5a5a5a;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

footer ul {
    list-style:none;
    font-weight: 300;
    width: 1035px;
    position: relative;
    margin: 0 auto;
}

footer ul li a {
    display:inline-block;
    padding:17.5px 2%;
    margin: 0 23px;
    color: #000;
    text-decoration: none;
}

footer ul li a:hover {
    opacity: .6; 
    transition: opacity 300ms;
}

footer ul li {
    display:inline;
}

.product {
    width: 10.4vw;
    height: inherit;
    min-height: 65px;
    margin-bottom: 30px;
    margin-right: 12.48%;
    display: inline-block;
    float: left;
}

.product:nth-child(4n) {
    margin-right: 0;
}

.product img {
    display: block;
    width:10.4vw;
}

.description {
  display: block;
  font-size: 1vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 10px auto;
  height: inherit;
  width:6vw;
}

.description a:link    {color: #000; text-decoration: none;}
.description a:visited {color: #000;}
.description a:hover   {color: #000;text-decoration: underline;}
.description a:active  {color: #000;}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin: 0 0 3px 0;
  float: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left:0;
   color:gold;
}

button {
  color:#fff;
  display: block;
  margin: 0 auto;
  font-size: .9vw;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  background-color: #4285f4;
  height: 2vw;
  width: 6vw;
  border: none;
  border-radius: 2px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3262ba;
  color: #fff;
}

input[type="submit"],input[type="button"] {
  color:#fff;
  display: block;
  margin: 10px 0;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  background-color: #4285f4;
  height: 35px;
  width: 110px;
  border: none;
  border-radius: 2px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover,input[type="button"]:hover {
  background-color: #3262ba;
  color: #fff;
}

.box {
  margin-top: 0px;
  width: 200px;
}

.bigbox {
  margin-top: 2px;
  height: 50px;
  width: 200px;
}

/* PRODUCT BIG --------------------------------------------------------*/

.productBig {
    width: 72%;
    float: left;
    margin-left: 8px;
    height: inherit;
    min-height: 360px;
    border: solid #C0C0C0 1px;
}

.productBig:nth-child(4n) {
    margin-right: 0;
}

.productBig img {
    float: left;
    width:40%;
}

.smallImages {
  margin-top: 22px;
  width: 70px;
  float: left;
}

.smallImages img {
  margin-bottom: 18px;
  display: block;
  width: 100%;
}

.descriptionBig {
  font-size: 1.3vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 30px 0 0 30px;
  height: inherit;
  width:20vw;
  float: left;
}

.descriptionBig a:link    {color: #000; text-decoration: none;}
.descriptionBig a:visited {color: #000;}
.descriptionBig a:hover   {color: #000;text-decoration: underline;}
.descriptionBig a:active  {color: #000;}

.ratingBig {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin: 0 0 3px 0;
  float: left;
}
.ratingBig > span {
  display: inline-block;
  position: relative;
  width: 1em;
}
.ratingBig > span:hover,
.ratingBig > span:hover ~ span {
    color: transparent;
}
.ratingBig > span:hover:before,
.ratingBig > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left:0;
   color:gold;
}

.big {
  color:#fff;
  font-size: .9vw;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-left: 0;
  background-color: #4285f4;
  height: 2vw;
  width: 6vw;
  border: none;
  border-radius: 2px;
  transition: background-color 0.3s;
}

.big:hover {
  background-color: #3262ba;
  color: #fff;
}

/* colorDissolve  */
.colorDissolve {
  position: relative;
  overflow: hidden;
  width: 21vw;
  height: 28vw;
  min-width: 210px;
  min-height: 280px;
  background: #fff;
  z-index: 1;
}

.colorDissolve img{
  width: 21vw;
  height: 28vw;
  min-width: 210px;
  min-height: 280px;
}

.colorDissolve .item {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  animation: colorDissolve 12s linear infinite;
}
.colorDissolve .item:nth-child(2) {
  animation-delay: 3s;
}
.colorDissolve .item:nth-child(3) {
  animation-delay: 6s;
}
.colorDissolve .item:nth-child(4) {
  animation-delay: 9s;
}

@keyframes colorDissolve {
    0%, 25%, 100% { opacity: 0; }
    4.17%, 20.84% { opacity: 1;}
}


#background {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 43%;
  z-index: 1;
}

.error {
  color: red;
}

table {
  width: 400px;
}
